.greeting-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 60vh;     */
}

.greeting-section-text {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40vw;
    margin: 4rem 0;
}

.greeting-section img {
    width: 20vw;
    margin-left: 2rem;
    height: auto;
    max-width: 350px;
}

.second-section {
    padding: 12vh;
    background-color: rgb(207, 194, 135);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-section-text {
    color: #022a3b;
    font-size: 2.5rem;
    font-weight: bold;
}

.second-section-text span {
    text-decoration: underline;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.solution-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.solution-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 6rem auto 2rem auto;
}

.solution-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 2rem;
}

.solution-item-text-title {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.solution-item-text-subtitle {
    font-size: 1.2rem;
    color: #c9c8c8;
}

.call-to-action-window {
    position: relative;
    top: 4rem;
}

.call-to-action-container {
    margin-top: 8rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 3px 0px #ccc;
}

.call-to-action-container img {
    height: 180px;
}

.call-to-action-text {
    margin: auto 2rem auto 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.call-to-action-title {
    color: #022a3b;
    font-size: 2rem;
    font-weight: bold;
}

.call-to-action-subtitle {
    color: #022a3b;
    font-size: 1.8rem;
}

.call-to-action-form {
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.call-to-action-form input {
    outline: none;
    background: none;
    border: 1px solid #b4b4b4;
    font-size: 1.4rem;
    padding: .5rem 2rem;
    color: inherit;
    border-radius: 5px;
    width: 60%;
}

.call-to-action-form input:focus {
    border-color: #022a3b;
}

.call-to-action-form button {
    margin-left: 3rem;
    background-color: transparent;
    border: 3px solid #022a3b;
    font-size: 1.8rem;
    font-weight: 400;
    color: #022a3b;
    padding: .5rem 2rem;
    border-radius: 5px;
}

.call-to-action-form button:hover {
    background-color: #022a3b;
    color: white;
}

.fourth-section {
    background-color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.fourth-section-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.benefit-item {
    max-height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-wrapper img {
    max-height: 200px;
}

.benefit-item-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.benefit-item-title {
    font-size: 2rem;
    font-weight: bold;
    color: #022a3b;
}

.benefit-item-subtitle {
    font-size: 1.5rem;
    color: #194253;
}

.benefit-item-button {
    background-color: transparent;
    border: 3px solid #022a3b;
    font-size: 1.5rem;
    font-weight: 400;
    color: #022a3b;
    padding: .5rem 2rem;
    border-radius: 5px;
    display: flex;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem auto;
    color: #a3a3a3;
    font-size: 1.5rem;
    font-weight: bold;
    height: 8rem;
}

footer span a {
    text-decoration: underline;
    color: #cfc287;
}

footer a {
    text-decoration: none;
    color: #cfc287;
}

@media (max-width: 900px) {

    .greeting-section {
        justify-content: center;
    }

    .greeting-section-text {
        max-width: 100%;
        padding: 2rem;
        align-items: center;
        text-align: center;
    }

    .greeting-section img {
        display: none;
    }

    .call-to-action-text {
        margin: 0;
    }

    .call-to-action-container img {
        display: none;
    }

    .call-to-action-form {
        flex-direction: column;
        align-items: center;
    }

    .call-to-action-form button {
        margin: 2rem auto 0 auto
    }

    .call-to-action-form input {
        width: 100%;
    }

    .solution-item img {
        width: 4rem;
    }

    .benefit-item {
        display: flex;
        flex-direction: column-reverse;
        max-height: initial;
    }

    .benefit-item:nth-child(even){
        flex-direction: column;
    }
}