@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700');

*, *::before, *::after {
    box-sizing: border-box;
    /* padding: 0; */
    /* margin: 0; */
}

p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.5rem;
    color: #a3a3a3;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.75rem;
}

body {
    padding: 0;
    margin: 0;
    background-color: #022a3b;
    font-family: Poppins, sans-serif;
    color: white;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.full-width-container {
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.narrow-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.brand-logo {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    font-weight: bold;
    margin-left: 1.5rem;
    font-size: 1.5em;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.main-nav a:hover {
    color: #a3a3a3;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.title {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 4rem;
}

.subtitle {
    color: #c9c8c8;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.button {
    color: #cfc287;
    font-weight: bold;
    background-color: transparent;
    padding: .5rem 2rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 3px solid #cfc287;
    cursor: pointer;
}

.button:hover {
    background-color: #cfc287;
    color: #022a3b;
}

@media (max-width: 900px) {
    .container {
        padding: 0 20px;
    }
}